<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599473436692-mr7s9p0srhkgpbi0mi71519fea55et7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599473436692-mr7s9p0srhkgpbi0mi71519fea55et7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599473436692-1s1d5dn77dpmnie3b351mlpdop18os6m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAF_gJ8HOhE2mbG3BdvdQ_M8gHh5WQOTs</string>
	<key>GCM_SENDER_ID</key>
	<string>599473436692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>armymart.cloud.ec</string>
	<key>PROJECT_ID</key>
	<string>fir-project-4794b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-4794b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599473436692:ios:31d56cef6baf2580bdcf01</string>
</dict>
</plist>